/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Arbeit mit Variablen */
$color1: #668;
$color2: #666;
$color3: #333;
$color4: #fff;
$color5: #444;
$color6: #222;

	/* Basisdefinitionen */
	#header { 
		width: auto;
		background: $color1; 
		color: $color4;
		border: 2px $color2 solid;
	}

	#main { 
		width: auto;
		padding: 10px;
		margin: 0 224px 0 224px;
		border: 2px $color2 solid;
		background: $color2; 
		color: $color4
	}
	
	#left { 
		float: left;
		width: 200px;
		padding: 10px;
		margin: 0;
		background: $color5; 
		color: $color4;
		border: 2px $color3 solid;
	}

	#right { 
		float: right;
		width: 200px;
		padding: 10px;
		margin: 0;
		background: $color6; 
		color: #fff;
		border: 2px $color3 solid;
	}
	
	#footer { 
		clear: both;
		background: $color1; 
		color: $color4;
		border: 2px $color3 solid;
	}